.card {
    &--disciplines {
        position: relative;

        max-width: 270px;
        width: 100%;
        min-height: 338px;
        padding: 30px 30px 20px;

        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 20px;

        @media (max-width: 1024px) {
            min-height: 283px;
        }
        @media (max-width: 992px) {
            min-height: 338px;
        }
        @media (max-width: 576px) {
        }

        &:nth-child(1) {
            background-color: #febe29;
        }
        &:nth-child(2) {
            background-color: #2eb2fd;
        }
        &:nth-child(3) {
            background-color: #8257b0;
        }
        &:nth-child(4) {
            background-color: #ff6a4d;
        }

        &.badge::after {
            content: 'Дополнительно';

            position: absolute;
            top: 0;
            right: 10px;

            padding: 10px;

            font-family: $family;
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 1.2;
            letter-spacing: 0.003em;
            text-transform: uppercase;

            border-radius: 10px;
            background-color: #daf700;

            transform: rotate(8deg);
        }

        .card__title {
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.2;
            color: #fff;
        }

        .card__link {
            position: absolute;

            left: 50%;
            bottom: 20px;

            transform: translate(-50%);

            padding: 10px 24px;

            font-family: $family;
            font-size: 1.6rem;
            font-weight: 500;
            color: $colors-highlight;

            background-color: #fff;
            border-radius: 10px;
            // box-shadow: inset 0 0 0 2px #d0b0f1;
            border: 2px solid #d0b0f1;

            transition: 0.3s linear;

            &:hover {
                border-color: $colors-highlight;
            }
        }
    }

    &--theater-benefits {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        min-width: 220px;

        .card__image {
        }

        .card__title {
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 24px;
            text-align: center;
        }

        .card__text {
            font-size: 1.4rem;
            line-height: 22px;
            text-align: center;
        }
    }

    &--invite {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        max-width: 194px;

        @media (max-width: 992px) {
            max-width: 185px;
        }

        .card__text {
            font-size: 1.4rem;
            line-height: 22px;
            text-align: center;
        }
    }

    &--teacher {
        max-width: 270px;

        @media (max-width: 768px) {
            min-width: 270px;
        }

        .card__image-wrapper {
            position: relative;

            margin-bottom: 20px;

            border-radius: 10px;
            overflow: hidden;
        }

        .card__image {
            display: block;
            max-width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .card__btn {
            position: absolute;
            left: 50%;
            bottom: 20px;
            transform: translate(-50%);

            display: flex;
            align-items: center;
            gap: 4px;
            padding: 4px 9px 4px 4px;

            font-size: 1.4rem;
            line-height: 22px;
            white-space: nowrap;

            background-color: #fff;
            border-radius: 20px;
        }

        .card__title {
            margin-bottom: 10px;

            font-size: 2rem;
            font-weight: 500;
            line-height: 28px;
            text-align: center;
        }

        .card__desc {
            font-size: 1.4rem;
            line-height: 22px;
            color: #999999;
            text-align: center;
        }
    }

    &--teachers-more {
        width: 270px;
        height: fit-content;
        padding: 24px 0 30px;

        border-radius: 30px;
        border: 2px solid #d0b0f1;

        overflow: hidden;

        .card__image-wrapper {
            position: relative;

            min-height: 130px;

            display: flex;
            align-items: center;

            margin-bottom: 17px;
        }

        .card__image {
            position: absolute;
            &:nth-child(1) {
                left: -10px;
            }
            &:nth-child(2) {
                left: 70px;
            }
            &:nth-child(3) {
                right: -10px;
            }
        }

        .card__inner {
            padding: 0 39px;
        }

        .card__title {
            margin-bottom: 6px;

            font-size: 1.8rem;
            font-weight: 500;
            line-height: 26px;
        }

        .card__link {
            font-size: 1.6rem;
            line-height: 24px;
            color: #8257b0;
            text-decoration: underline;
        }

        @media (max-width: 1200px) {
            width: 100%;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 40px;

            padding: 11px 30px;

            .card__image-wrapper {
                width: 100%;
                max-width: 290px;
                min-width: 290px;
            }
            .card__image {
                &:nth-child(1) {
                    left: 0px;
                }
                &:nth-child(2) {
                    left: 80px;
                }
                &:nth-child(3) {
                    right: 0;
                }
            }

            .card__inner {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0;
                gap: 10px;
            }

            .card__title {
                max-width: 172px;
            }

            .card__link {
                max-width: 193px;
            }
        }

        @media (max-width: 768px) {
            .card__inner {
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 10px;
            }

            .card__title {
                max-width: 100%;

                br {
                    display: none;
                }
            }
        }

        @media (max-width: 650px) {
            width: 346px;
            flex-shrink: 0;

            flex-direction: column;

            padding: 30px 18px 40px;
        }
    }

    &--price {
        display: flex;
        flex-direction: column;

        @media (max-width: 576px) {
            width: 270px;
        }

        &:nth-child(1) {
            .card__image-wrapper::after {
                background-color: #e2ffea;
            }
        }
        &:nth-child(2) {
            .card__image-wrapper::after {
                background-color: #ffe7e2;
            }
        }
        &:nth-child(3) {
            .card__image-wrapper::after {
                background-color: #fff9e2;
            }
        }
        &:nth-child(4) {
            .card__image-wrapper::after {
                background-color: #e2f0ff;
            }
        }

        .card__image-wrapper {
            position: relative;
            height: 204px;

            margin-bottom: 20px;

            overflow: hidden;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: -1;

                height: 168px;
                width: 100%;

                border-radius: 10px;
            }
        }

        .card__image {
            position: absolute;
            bottom: 0;
            left: 50%;

            transform: translate(-50%);
        }

        .card__title {
            flex-grow: 1;
            margin-bottom: 20px;

            font-size: 1.8rem;
            font-weight: 500;
            line-height: 26px;
        }

        .card__inner {
            ul {
                display: flex;
                flex-direction: column;
                gap: 4px;

                margin-bottom: 20px;
            }

            li {
                display: flex;
                align-items: center;
                gap: 6px;

                font-size: 1.4rem;
                line-height: 22px;
            }
        }

        .card__price {
            flex-grow: 1;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 26px;
            color: #ff6a4d;

            span {
                font-size: 2rem;
                line-height: 28px;
            }
        }
    }

    &--review-video {
        max-width: 270px;
        .card__image-wrapper {
            position: relative;

            margin-bottom: 20px;

            overflow: hidden;
        }

        .card__play-icon {
            position: absolute;
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);

            display: block;

            margin: 0;
            padding: 0;
            border: 0;
            background: 0;

            cursor: pointer;
        }
        .card__image {
            border-radius: 10px;
        }

        .card__title {
            margin-bottom: 10px;

            font-size: 1.6rem;
            line-height: 24px;
            font-weight: 500;
        }

        .card__text {
            margin-bottom: 10px;

            font-size: 1.4rem;
            line-height: 22px;

            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            line-clamp: 4;
            -webkit-box-orient: vertical;
        }

        .card__link {
            font-size: 1.4rem;
            line-height: 22px;
            color: #8257b0;
            text-decoration: underline;
        }
    }

    &--getting {
        position: relative;

        color: #fff;
        border-radius: 10px;
        overflow: hidden;

        span {
            position: absolute;
        }

        &:nth-child(1) {
            span {
                bottom: 20px;
                left: 20px;

                font-size: 2rem;
                font-weight: 500;
                line-height: 28px;
            }
        }
        &:nth-child(2) {
            span {
                top: 20px;
                left: 20px;

                font-size: 2rem;
                font-weight: 500;
                line-height: 28px;
            }
        }
        &:nth-child(3) {
            grid-row: 2;
            grid-column: 1/3;

            border-radius: 20px;

            @media (max-width: 1023px) {
                grid-row: auto;
                grid-column: auto;
            }

            span {
                top: 40px;
                left: 40px;

                font-size: 3rem;
                font-weight: 600;
                line-height: 40px;

                @media (max-width: 1200px) {
                    top: 30px;
                    left: 30px;

                    font-size: 2.4rem;
                    font-weight: 500;
                    line-height: 32px;
                }
            }
        }

        &:nth-child(4) {
            grid-column: 3;
            grid-row: 1/3;

            border-radius: 20px;

            @media (max-width: 1023px) {
                grid-row: auto;
                grid-column: auto;

                span {
                    max-width: 205px;
                }
            }

            span {
                top: 40px;
                left: 40px;

                font-size: 3.6rem;
                font-weight: 600;
                line-height: 46px;

                @media (max-width: 1200px) {
                    top: 30px;
                    left: 30px;

                    font-size: 3rem;
                    line-height: 40px;
                }
            }
        }

        .card__image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &--master-actors {
        position: relative;

        @media (max-width: 768px) {
            width: 320px;
            height: 202px;
        }

        span {
            position: absolute;
            bottom: 10px;
            left: 10px;

            display: none;

            font-size: 1.3rem;
            font-weight: 500;
            line-height: 18px;
            color: #fff;

            @media (max-width: 768px) {
                display: block;
            }
        }
        .card__image {
            display: block;

            width: 100%;
            height: 100%;
            object-fit: cover;

            @media (max-width: 768px) {
                border-radius: 10px;
            }
        }
    }

    &--review-photo {
        .card__image {
            margin-bottom: 14px;

            border-radius: 10px;

            display: block;
            max-width: 100%;
            height: auto;
        }

        .card__title {
            font-size: 1.6rem;
            line-height: 24px;
            font-weight: 500;
        }

        .card__data {
            font-size: 1.4rem;
            line-height: 22px;
            color: #999999;
        }
    }
}
