.nav {
    &--header {
        @media (max-width: $md) {
            display: none;
        }

        .nav__list {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .nav__item {
        }

        .nav__link {
        }
    }

    &--footer {
        .nav__list {
            display: grid;
            grid-template-columns: repeat(2, minmax(min-content, auto));
            gap: 10px 67px;

            @media (max-width: 992px) {
                grid-template-columns: 1fr;
            }

            @media (max-width: 576px) {
                max-width: 156px;
            }
        }

        .nav__list li a {
            font-size: 14px;
            line-height: 22px;
            color: #d0b0f1;
        }
    }
}
