.process-item {
    &.img-bg {
        position: relative;

        min-height: 350px;
        margin-bottom: 34px;

        display: flex;
        align-items: flex-end;
        justify-content: center;

        padding: 20px 40px 30px;

        border-radius: 20px;
        overflow: hidden;

        @media (max-width: 992px) {
            padding: 20px;
            margin-bottom: 39px;
        }

        .process-item__image {
            position: absolute;
            top: 0;
            z-index: -1;

            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .process-item__text {
            max-width: 280px;
            padding: 14px;

            border-radius: 20px;
            background-color: #fff;
        }
    }

    &.img-above-text {
        display: flex;
        flex-direction: column;
        gap: 20px;

        margin-bottom: 39px;
        padding: 30px;

        border-radius: 20px;
        background-color: #f1ffda;

        .process-item__image {
            border-radius: 20px;
        }
    }

    &.img-above-text-rose {
        display: flex;
        flex-direction: column;
        gap: 20px;

        padding: 30px 40px 50px;

        border-radius: 20px 130px 80px 130px;
        background-color: #ffedf2;

        @media (max-width: 992px) {
            padding: 30px 30px 50px 40px;
        }

        .process-item__image {
            max-width: 205px;
            max-height: 149px;
            border-radius: 30px 90px 60px 70px;
        }

        .process-item__text {
            text-align: center;
        }
    }

    &.img-next-text {
        margin-bottom: 30px;

        display: flex;
        align-items: center;
        gap: 20px;

        padding: 30px 24px 30px 30px;

        border-radius: 20px;
        background-color: #fff6d6;

        .process-item__image {
            flex-shrink: 0;
            max-width: 130px;
            max-height: 130px;

            border-radius: 50%;
            overflow: hidden;
        }
    }

    &.rotated-green {
        display: flex;
        flex-direction: column;
        gap: 20px;

        margin-bottom: 30px;
        padding: 30px;

        border-radius: 120px 120px 120px 70px;
        background-color: #e2fffc;

        .process-item__image {
            max-width: 290px;
            max-height: 188px;

            border-radius: 70px 70px 70px 40px;

            transform: rotate(-5deg);
        }
    }

    &.text-above-img {
        display: flex;
        flex-direction: column;
        gap: 20px;

        padding: 30px;
        margin-bottom: 30px;

        border-radius: 20px;
        background-color: #f0ebff;

        .process-item__image {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
        }
    }

    &.rotated-rose {
        display: flex;
        flex-direction: column;
        gap: 20px;

        padding: 20px 47px 40px 40px;

        border-radius: 70px 130px 130px 130px;
        background-color: #fff3e9;

        @media (max-width: 992px) {
            padding: 20px 7px 40px 40px;
        }

        .process-item__image {
            max-width: 216px;
            max-height: 218px;
        }

        .process-item__text {
            text-align: center;
        }
    }

    .process-item__text {
        font-size: 1.8rem;
        line-height: 27px;
    }
}
